@import 'mixins';
@import 'variable';

.um-extended-settings {
    padding: 10px;
    background: #fff
}

.um-extended-settings a {
    color: #7856ff;
}

.um-extended-settings .title{
    font-size: 18px;
    padding: 0px 5px 0px 15px;
    float: left;
}

.um-extended-settings p.tagline{
    padding: 0px;
}

.um-extended-settings .search {
    margin: auto;
    float: right;
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

.um-extended-settings .search input[type=text]{
    line-height: 20px;
    padding: 10px;
    width: 82%;
}

.um-extended-settings .search input[type=submit]{
    line-height: 20px;
    padding: 12px;
    border-radius: 5px;
    background-color: #e0e0e0;
    border: 0px;
}

.um-extended-settings .actions-template-card {
    margin: 5px;
    border-radius: 5px;
    width: 32.43%;
    float: left;
    border: 1px solid  rgb(208, 215, 222);
    min-height: 183px;
}
.um-extended-settings .actions-template-card .package{
    text-transform: capitalize;
    color: #959595
}

.um-extended-settings .sep-dot{
    padding-left: 10px;
    padding-right: 10px;
    color: #959595
}

.um-extended-settings .doc-link{
    color: #959595
}

.um-extended-settings .actions-template-card .details {
    padding: 20px 20px 0px 20px;
    width: 64%;
    float: left;
    min-height: calc(23vh - 4rem);
}

.um-extended-settings .actions-template-card .buttons {
   width: 23%;
   display: inline-block;
   padding-top: 20px;
   padding-right: 10px;
   text-align: right;
}

.um-extended-settings .buttons a:not(.link) {
    padding: 10px 10px 10px 10px;
    background-color: #7856ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}


.um-extended-settings .actions-template-card .buttons a.disabled {
    background-color: #5f5295;
   
}

.um-extended-settings .actions-template-card .buttons a.disabled:hover {
    background-color: #7856ff;
}

.um-extended-settings .actions-template-card .buttons a.learn-more {
    background-color: #e6e6e6;
    color: #7856ff;
}

.um-extended-settings .actions-template-card h3 {
    font-size: 16px;
    margin: 0px;
    line-height: 22px;
}

.um-extended-settings .actions-template-card .actions{
    border-top-color: rgb(208, 215, 222);
    border-top-style: solid;
    border-top-width: 1px;
    min-height: 30px;
    clear:both;
    padding: 10px 20px 0px 20px;
    position: relative;
    bottom: 0;
}


.um-extended-settings .actions-template-card .actions .require {
    float: right;
    font-size: 12px;
    border: 1px solid  rgb(208, 215, 222);
    padding: 0px 5px 0px 5px;
}

.um-extended-settings .single-item{
    margin: auto;
    width: 50%;
    padding: 30px 15px;
    min-height: 800px;
    height: 100%;
}
.um-extended-settings .single-item h1{
    line-height: 35px;
}

.um-extended-settings .single-item .avatar{
    min-height: 90px;
    padding-top: 10px;
    float: left;
    border: 1px solid #bfbcbc;
    border-radius: 5px;
    margin-right: 15px;
}

.um-extended-settings .single-item .description {
    font-size: 17px !important;
    margin-top:20px;
    border-top: 1px solid  rgb(208, 215, 222);
    line-height: 25px;
   
}
.um-extended-settings .single-item .require {
    text-align: right;
    float: right;
    font-size: 12px;
    border: 1px solid  rgb(208, 215, 222);
    padding: 0px 5px 0px 5px;
}
.um-extended-settings .single-item .version{
    margin-top:10px;
    padding: 0px 0px 0px 0px;
    text-align: right;
}
.um-extended-settings .single-item .buttons{
    float: right;
    margin-top:5px
}

.um-extended-settings .single-item h1 {
    margin-top: 0px;
}

.um-extended-settings .sep{
    padding:10px 0px 10px 0px;
    border-top: 1px solid  rgb(208, 215, 222);
    clear: both
}

.um-extended-settings .activated-ext {
    margin-bottom: 10px;
    padding-bottom: 10px;
   
}

.um-extended-settings .activated-ext .actions-template-card {
    border: 1px solid $stripe_text_green;
    background: $stripe_bckd_green;
}

.um-extended-settings .activated-ext h2,
.um-extended-settings .featured-ext h2 {
    padding: 10px 0px 0px 10px;
}

.list-enter-active,
.list-leave-active {
  transition: all 13.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.um-extended-settings .single-item .buttons a.disabled{
    background-color: #b6a7c4 !important;
    cursor: progress;
}

.um-extended-settings .activate-status{
    text-align: center;
}

#nprogress .bar {
    background: #7856ff;
    height: 3px;
}
/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
  }
  
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #7856ff, 0 0 5px #7856ff;
    opacity: 1.0;
  
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
    visibility:visible;
    background:  none;
  }
  
  #nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  
    border: solid 2px transparent;
    border-top-color: #7856ff;
    border-left-color: #7856ff;
    border-radius: 50%;
  
    -webkit-animation: nprogress-spinner 400ms linear infinite !important;
            animation: nprogress-spinner 400ms linear infinite !important;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

.um-extended-settings .details h3 a{
    color: #000;
    text-decoration: none;
}

.um-extended-settings .details h3 a:hover{
    text-decoration: underline;
}

.um-extended-settings .disable-all{
   vertical-align: middle;
    float: right;
    margin-top: 20px;
    padding-left: 10px;
    padding-right:  10px;
}

.um-extended-settings .disable-all .switch .track .handle{
    border: 1px solid #ccc;
}

.activated-ext.disabled .actions-template-card {
    opacity: 0.49
}

.um-extended-settings {
    .v-skeleton-loader {
        background-color: transparent;
    }
}